@import url('https://fonts.googleapis.com/css?family=Lobster');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 175px;
  padding: 20px;
  background-image: url('/sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.App-title {
  font-size: 2em;
  font-family: 'Lobster', cursive;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ui.image{
  margin: 0 auto;
  height: 50%;
  width: 50%;
}

.ui.seven.cards>.card{
  background-color: rgb(207,207,207)
}

.container{
  margin: 10px auto;
  width: 95%
}

.ui.button.temp, .ui.button.temp:active{
  margin: 20px;
}

.ui.button.temp:hover{
  font-size: 1.01em
}

.ui.mini.button{
  float: left;
  display: flex;
  width: 5%
}
