.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ui.image{
  margin: 0 auto;
  height: 50%;
  width: 50%;
}

.ui.seven.cards>.card{
  background-color: rgb(207,207,207)
}

.container{
  margin: 10px auto;
  width: 95%
}

.ui.button.temp, .ui.button.temp:active{
  margin: 20px;
}

.ui.button.temp:hover{
  font-size: 1.01em
}
